<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"> </ion-back-button>
    </ion-buttons>
    <ion-title>RSVP</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-text-center">
    <iframe
      src="https://docs.google.com/forms/d/e/1FAIpQLSf73AnPkd__HcLn-76p14x8XA-nwWvywkVHqyqsvuWLvYvNQQ/viewform?embedded=true"
      width="450" height="790" frameborder="0" marginheight="0" marginwidth="0">Loading…</iframe>
  </div>
</ion-content>