.modal-backdrop {
  background-color: rgba(0,0,0,0.7);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  width: 60%;
  max-height: 80vh;
  overflow-y: auto;
}

.modal-content img {
  height: 520px;
}

@media (max-width: 767px) {
  .modal-content {
    width: 85%;
    height: 55vh;
  }
  
  .modal-content img {
    height: 100%;
  }
}