<ion-header>
  <!-- <ion-toolbar class="ion-no-border ion-toolbar-custom">
    <ion-buttons slot="end">
      <ion-button (click)="onCancel()">
        <ion-icon name="close-circle-outline" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Completed Details</ion-title>
  </ion-toolbar> -->
</ion-header>

<ion-content class="ion-text-left">
  <ion-icon (click)="onCancel()"  name="close-circle-outline"></ion-icon>

  <img style="height: 100%;" src="../../../assets/img/invitation_modal.png">
</ion-content>