<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Wedding Invitation</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <app-invite-modal></app-invite-modal>
  <section id="slider">
    <img style="width:100%" src="../../../assets/img/banner1.jpg">
  </section>
  <!-- weblive -->
  <!-- <iframe width="100%" height="70%" src="https://www.youtube-nocookie.com/embed/WgjmWJjGtb4" frameborder="0"
    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> -->



  <!-- story Section Begin -->
  <section id="story" class="services">

    <ion-grid class="ion-padding">
      <ion-row>
        <ion-col size-md="6" size-xs="12" class="ion-text-center">
          <div style="padding-top:10px; padding-bottom: 5px;">
            <ion-label style="font-size: x-large;" color="primary">
              Our Story
            </ion-label> <br />
            <img src="../../assets/img/icon/ti.png" alt="">
          </div>
          <br />
          <ion-label color="dark" class="invite_label">

            Destiny brought us together and now love will seal the bond... forever .
            <br /> <br /> Fantasies do come true,<br />
            We are Getting Married!!!
            <br />
          </ion-label>
          <ion-label color="danger" class="invite_label_name">
            Madhankumar <br />
            & <br />
            Poornima
          </ion-label>
          <br />
          <br />

          <ion-button color="primary" routerLink="/gallery">
            <ion-icon name="images-outline"></ion-icon> &nbsp;
            Gallery
          </ion-button>

        </ion-col>

        <ion-col size-md="6" size-xs="12">
          <img src="../../assets/img/story.png">
        </ion-col>
      </ion-row>
    </ion-grid>

  </section>
  <!-- Events Section End -->

  <!-- RSVP-->
  <section id="rsvp">
    <ion-grid class="ion-padding">
      <ion-row>
        <ion-col class="invite_img" size-md="6" size-xs="12">
          <img routerLink="/rsvp" src="../../assets/img/yourInvited.jpg">
        </ion-col>
        <ion-col size-md="6" size-xs="12" class="ion-text-center">
          <div style="padding-top:10px; padding-bottom: 5px;">
            <ion-label style="font-size: x-large;" color="primary">
              Save the Date!!!
            </ion-label> <br />
            <img src="../../assets/img/icon/ti.png" alt="">
          </div>
          <br />
          <ion-label color="dark" class="invite_label">

            We cordially invite you and your family to our marriage ceremony.
            <br /> <br /> Your presence and wishes will make our joyous occasion more beautiful with immense pleasure
            and
            remarkable memories
          </ion-label>
          <br />
          <br />
          <ion-button color="primary" routerLink="/rsvp">
            <ion-icon name="document-outline"></ion-icon> &nbsp;
            Invitation
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </section>

  <!-- event section-->
  <section id="event">
    <ion-grid class="ion-padding" color="light">
      <!-- <ion-row>
          <ion-col class="ion-text-center">
            <div style="padding-top:40px; padding-bottom: 30px;">
              <ion-label style="font-size: x-large;" color="primary">
                Event Details
              </ion-label> <br />
              <img src="../../assets/img/icon/ti.png" alt="">
            </div>
  
          </ion-col>
        </ion-row> -->
      <ion-row>
        <div class="container">
          <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-12">
              <div class="services__item">
                <!-- <h2 color="primary">Reception </h2> -->
                <ion-label color="primary">Reception</ion-label>
                <ion-item lines="none" class="ion-text-center">
                  <ion-label style="font-size: large;">Oct 29<sup class="sub_icon">th</sup>, 2020</ion-label>
                </ion-item>
                <ion-item lines="none" class="ion-text-center" style="margin-bottom: 20px;">
                  <ion-label>7.00 PM to 10.00 PM</ion-label>
                </ion-item>

                <ion-button color="primary" (click)="presentActionSheetRecption()">
                  <ion-icon name="calendar-outline"></ion-icon> &nbsp;
                  Add to Calendar
                </ion-button>
              </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12">
              <div class="services__item">
                <ion-label color="primary">Marriage</ion-label>
                <ion-item lines="none" class="ion-text-center">
                  <ion-label style="font-size: large;">Oct 30<sup class="sub_icon">th</sup>, 2020</ion-label>
                </ion-item>
                <ion-item lines="none" class="ion-text-center" style="margin-bottom: 20px;">
                  <ion-label>9.00 AM to 10.30 AM</ion-label>
                </ion-item>

                <ion-button color="primary" (click)="presentActionSheetMarriage()">
                  <ion-icon name="calendar-outline"></ion-icon> &nbsp;
                  Add to Calendar
                </ion-button>
              </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12">
              <div class="services__item">
                <ion-label color="primary">Venue</ion-label>
                <ion-item lines="none" class="ion-text-center">
                  <ion-label style="font-size: large;">Saiven Function Hall
                  </ion-label>

                </ion-item>
                <ion-item lines="none" class="ion-text-center">
                  <ion-label>
                    Opp. State Bank of India, C.B.Road, <br />
                    Greamspet, Chittoor, AP
                  </ion-label>
                </ion-item>
                <ion-button color="primary" (click)="location()">
                  <ion-icon name="compass-outline"></ion-icon> &nbsp;
                  Location
                </ion-button>
              </div>
            </div>
          </div>
        </div>
      </ion-row>

    </ion-grid>
  </section>
  <!-- maps-->
  <section id="maps">
    <ion-grid style="margin-bottom: -6px;" class="ion-no-padding">
      <ion-row>
        <ion-col>
          <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d15537.373810557063!2d79.0943165!3d13.203740699999999!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bad5c10ea2dfb6b%3A0x70c23d4d78c98cf7!2sSaiven%20function%20hall!5e0!3m2!1sen!2suk!4v1598799562595!5m2!1sen!2suk"
            width="100%" height="360" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false"
            tabindex="0"></iframe>

        </ion-col>
      </ion-row>
    </ion-grid>
  </section>
  <!-- Counter Section Begin -->
  <section id="counter">
    <div class="counter spad set-bg">
      <div class="container">
        <div class="row" style="text-align: center;">
          <div class="col-lg-12">
            <img src="../../assets/img/icon/ci-2.png" alt="">
          </div>
        </div>
        <div class="row">
          <div class="col-lg-3 col-md-3 col-sm-6 col-6">
            <div class="counter__item">
              <!-- <img src="../../assets/img/icon/ci-1.png" alt=""> -->
              <h2 class="counter_num">{{days}}</h2>
              <p>Days</p>
            </div>
          </div>
          <div class="col-lg-3 col-md-3 col-sm-6 col-6">
            <div class="counter__item">
              <h2 class="counter_num">{{hours}}</h2>
              <p>Hours</p>
            </div>
          </div>
          <div class="col-lg-3 col-md-3 col-sm-6 col-6">
            <div class="counter__item">
              <!-- <img src="../../assets/img/icon/ci-3.png" alt=""> -->
              <h2 class="counter_num">{{mins}}</h2>
              <p>Minutes</p>
            </div>
          </div>
          <div class="col-lg-3 col-md-3 col-sm-6 col-6">
            <div class="counter__item">
              <!-- <img src="../../assets/img/icon/ci-4.png" alt=""> -->
              <h2 class="counter_num">{{secs}}</h2>
              <p>Seconds</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Counter Section End -->


  <!-- Request Form Section Begin -->
  <section id="comments" class="request">
    <div class="container">
      <div class="row d-flex justify-content-center">
        <div class="col-lg-7">
          <div class="request__form">
            <div class="section-title">
              <h2>Comment Wall
                <ion-icon name="chatbubble-ellipses-outline"></ion-icon>
              </h2>
              <span>“We’re so excited to see everyone at the event.</span>

              <span> Please leave a message on the comment wall!”</span>
              <!-- <p>— Madhankumar Anandan</p> -->
            </div>
            <form [formGroup]="formdata">
              <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 px-2">
                  <input type="text" formControlName="name" placeholder="Name">
                  <div
                    *ngIf="formdata.get('name').invalid && (formdata.get('name').dirty || formdata.get('name').touched)"
                    lines="none">
                    <ion-label color="danger">Enter the Name</ion-label>
                  </div>

                </div>
                <!-- <div class="col-lg-6 col-md-6 col-sm-6 px-2">
                  <input type="text" formControlName="email" placeholder="Email">
                </div> -->

                <div class="col-lg-12 px-2 ">
                  <textarea formControlName="comments" placeholder="Message"></textarea>
                  <div
                    *ngIf="formdata.get('comments').invalid && (formdata.get('comments').dirty || formdata.get('comments').touched)"
                    lines="none">
                    <ion-label color="danger">Enter the Message</ion-label>
                  </div>
                </div>

                <div class="col-lg-12 px-2 text-center">
                  <button type="submit" (click)="formResponse()" class="site-btn">Post</button>
                  <div>
                    <ion-label color="success" *ngIf="commentMessage!=null || commentMessage!=undefined">
                      {{commentMessage}}</ion-label>
                  </div>
                </div>

              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <br />

  </section>
  <!-- Request Form Section End -->



  <!-- Comments -->
  <section>
    <div class="container" *ngIf="commentResponse.length>0">
      <div class="row">
        <div class="col-lg-3 col-md-4 col-sm-6" *ngFor="let response of commentResponse">
          <div class="services__item_new">
            <h4>{{response.name}}</h4>
            <p>{{response.comments}}</p>
          </div>
        </div>

      </div>
    </div>
  </section>


  <!-- footer-->
  <ion-footer class="ion-no-border">
    <ion-toolbar color="dark" class="ion-padding">
      <ion-grid>
        <ion-row>
          <ion-col size-xs="12" size-md="6">
            <ion-label> Links</ion-label>
            <ion-item color="dark" lines="none">
              <a style="text-decoration: none;" routerLink='/rsvp'>Invitation</a>
            </ion-item>
            <ion-item color="dark" lines="none">
              <a style="text-decoration: none;" routerLink='/gallery'>Gallery</a>
            </ion-item>
          </ion-col>
          <ion-col size-xs="12" size-md="6">
            <ion-label> Reach us</ion-label>
            <ion-item color="dark" lines="none">
              <ion-buttons>
                <ion-button href="tel:+919444301381">
                  <ion-icon slot="icon-only" color="secondary" name="call-outline"></ion-icon>
                </ion-button>
                <ion-button href="https://wa.me/919444301381">
                  <ion-icon slot="icon-only" color="primary" name="logo-whatsapp"></ion-icon>
                </ion-button>
              </ion-buttons>
              Anandan
            </ion-item>
            <ion-item color="dark" lines="none">
              <ion-buttons>
                <ion-button href="tel:+918608701577">
                  <ion-icon slot="icon-only" color="secondary" name="call-outline"></ion-icon>
                </ion-button>
                <ion-button href="https://wa.me/918608701577">
                  <ion-icon slot="icon-only" color="primary" name="logo-whatsapp"></ion-icon>
                </ion-button>
              </ion-buttons>
              Logeswaran
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-buttons>
              <ion-label style="font-size: 12px;">Copyright © 2020 Grab Your Site</ion-label>
              <ion-button (click)="gysiteLink()">
                <ion-icon style="font-size: 10px;" slot="icon-only" name="open-outline"></ion-icon>
              </ion-button>
            </ion-buttons>

          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-toolbar>
  </ion-footer>

</ion-content>