<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Wedding Invitation</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>


  <app-slider-images></app-slider-images>
  <!-- weblive -->
  <!-- <iframe width="100%" height="70%" src="https://www.youtube-nocookie.com/embed/WgjmWJjGtb4" frameborder="0"
    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> -->

  <!-- image -->
  <!-- <section>
    <img src="../../assets/img/front_new.jpg">
  </section> -->


  <!-- Invitation section-->
  <ion-grid class="ion-padding">
    <ion-row>
      <ion-col class="ion-text-center">
        <div style="padding-top:80px; padding-bottom: 30px;">
          <ion-label style="font-size: x-large;" color="primary">
            Event Details
          </ion-label> <br />
          <img src="../../assets/img/icon/ti.png" alt="">
        </div>

      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="ion-text-center">
        <ion-card style="padding-bottom:15px;">
          <ion-card-header class="ion-text-center">
            <ion-card-subtitle>Date & Time</ion-card-subtitle>
          </ion-card-header>
          <ion-item lines="none" class="ion-text-center">
            <ion-label style="font-size: large;">October 30th, 2020</ion-label>
          </ion-item>
          <!-- <ion-item lines="none" class="ion-text-center">
            <ion-label>Friday</ion-label>
          </ion-item> -->
          <ion-item lines="none" class="ion-text-center">
            <ion-label>9.00 AM to 10.30 AM</ion-label>
          </ion-item>
          <br />
          <ion-button (click)="presentActionSheet()">
            <ion-icon name="calendar-outline"></ion-icon> &nbsp;
            Add to Calendar
          </ion-button>

        </ion-card>
      </ion-col>
      <ion-col class="ion-text-center">

        <ion-card style="padding-bottom: 15px;">
          <ion-card-header class="ion-text-center">
            <ion-card-subtitle>Venue</ion-card-subtitle>
          </ion-card-header>
          <ion-item lines="none" class="ion-text-center">
            <ion-label style="font-size: large;">Saiven Function Hall
            </ion-label>

          </ion-item>
          <ion-item lines="none" class="ion-text-center">
            <ion-label>
              Opp. State Bank of India, C.B.Road, <br />
              Greamspet, Chittoor, AP
            </ion-label>
          </ion-item>
          <ion-button (click)="location()">
            <ion-icon name="compass-outline"></ion-icon> &nbsp;
            Location
          </ion-button>

        </ion-card>
      </ion-col>
    </ion-row>

  </ion-grid>


  <!-- maps-->

  <ion-grid style="margin-bottom: -5px;" class="ion-no-padding">
    <ion-row>
      <ion-col>
        <iframe
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d15537.373810557063!2d79.0943165!3d13.203740699999999!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bad5c10ea2dfb6b%3A0x70c23d4d78c98cf7!2sSaiven%20function%20hall!5e0!3m2!1sen!2suk!4v1598799562595!5m2!1sen!2suk"
          width="100%" height="360" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false"
          tabindex="0"></iframe>

      </ion-col>
    </ion-row>
  </ion-grid>

  <!-- Services Section Begin -->
  <section class="services spad">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="section-title">
            <ion-label>Our services</ion-label> <br />
            <img src="../../assets/img/icon/ti.png" alt="">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-4 col-md-6 col-sm-6">
          <div class="services__item">
            <img src="../../assets/img/icon/si-1.png" alt="">
            <h4>Photos & Video</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, eiusm`od tempor.</p>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-6">
          <div class="services__item">
            <img src="../../assets/img/icon/si-2.png" alt="">
            <h4>Wedding Makeup</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, eiusm`od tempor.</p>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-6">
          <div class="services__item">
            <img src="../../assets/img/icon/si-3.png" alt="">
            <h4>Restaurant</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, eiusm`od tempor.</p>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-6">
          <div class="services__item">
            <img src="../../assets/img/icon/si-4.png" alt="">
            <h4>Live Music & DJ</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, eiusm`od tempor.</p>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-6">
          <div class="services__item">
            <img src="../../assets/img/icon/si-5.png" alt="">
            <h4>Wedding cake</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, eiusm`od tempor.</p>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-6">
          <div class="services__item">
            <img src="../../assets/img/icon/si-6.png" alt="">
            <h4>Honeymoons</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, eiusm`od tempor.</p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Services Section End -->

  <!-- RSVP-->
  <ion-grid class="ion-padding" style="background-color: antiquewhite;">
    <ion-row>
      <ion-col size="4" offset="4" class="ion-text-center">

        <ion-label color="light">
        </ion-label>

      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="4" offset="4" class="ion-text-center">

        <img routerLink="/rsvp" src="../../assets/img/rsvp.gif">
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="6" offset="3" class="ion-text-center">
        <ion-button color="primary" routerLink="/rsvp">
          <ion-icon name="send-outline"></ion-icon> &nbsp;
          Notify us
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>



  <!-- footer-->
  <ion-footer class="ion-no-border">
    <ion-toolbar class="ion-padding">
      <ion-grid>
        <ion-row>
          <ion-col size-xs="12" size-md="6">
            <ion-label> Links</ion-label>
            <ion-item lines="none">
              <a style="text-decoration: none;" routerLink='/rsvp'>RSVP</a>
            </ion-item>
          </ion-col>
          <ion-col size-xs="12" size-md="6">
            <ion-label> Reach us</ion-label>
            <ion-item lines="none">
              <ion-buttons>
                <ion-button href="tel:+919444301381">
                  <ion-icon slot="icon-only" color="secondary" name="call-outline"></ion-icon>
                </ion-button>
                <ion-button href="https://wa.me/919444301381">
                  <ion-icon slot="icon-only" color="primary" name="logo-whatsapp"></ion-icon>
                </ion-button>
              </ion-buttons>
              Anandan
            </ion-item>
            <ion-item lines="none">
              <ion-buttons>
                <ion-button href="tel:+918608701577">
                  <ion-icon slot="icon-only" color="secondary" name="call-outline"></ion-icon>
                </ion-button>
                <ion-button href="https://wa.me/918608701577">
                  <ion-icon slot="icon-only" color="primary" name="logo-whatsapp"></ion-icon>
                </ion-button>
              </ion-buttons>
              Logeswaran
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-buttons>
              <ion-label style="font-size: 12px;">Copyright © 2020 Grab Your Site</ion-label>
              <ion-button (click)="gysiteLink()">
                <ion-icon style="font-size: 10px;" slot="icon-only" name="open-outline"></ion-icon>
              </ion-button>
            </ion-buttons>

          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-toolbar>
  </ion-footer>

</ion-content>